.RData
.Rhistory
data/movielens-small.RData
.Rproj.user
.Ruserdata
*.zip
lesson4-text-mining_files/
lesson4-text-mining.md
lesson4-text-mining.c_files/figure-markdown_github-ascii_identifiers/unnamed-chunk-6-1.png
lesson4-text-mining.c_files/figure-markdown_github-ascii_identifiers/unnamed-chunk-24-1.png
lesson4-text-mining.c_files/figure-markdown_github-ascii_identifiers/unnamed-chunk-16-1.png
lesson4-text-mining.c_files/figure-markdown_github-ascii_identifiers/unnamed-chunk-25-1.png
lesson4-text-mining.c_files/figure-markdown_github-ascii_identifiers/unnamed-chunk-20-1.png
lesson4-text-mining.c_files/figure-markdown_github-ascii_identifiers/unnamed-chunk-22-1.png
lesson4-text-mining.c.md
task1-web-scraping-ostand005.html
